In [34]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [35]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
36,tt2199571,50000000,71561644,Run All Night,Liam Neeson|Ed Harris|Joel Kinnaman|Boyd Holbr...,Jaume Collet-Serra,No sin goes unpunished,Brooklyn mobster and prolific hit man Jimmy Co...,114,Action|Crime|Drama|Mystery|Thriller,Vertigo Entertainment|Energy Entertainment|Rat...,3/11/2015,6.3,2015
1089,tt0314331,40000000,244931766,Love Actually,Bill Nighy|Gregor Fisher|Colin Firth|Sienna Gu...,Richard Curtis,The ultimate romantic comedy.,Follows seemingly unrelated people as their li...,135,Comedy|Romance|Drama,DNA Films,9/7/2003,6.9,2003
1067,tt0485985,58000000,50365377,Red Tails,Bryan Cranston|David Oyelowo|Cuba Gooding Jr.|...,Anthony Hemingway,High-Octane Action and Daring Dogfights!,"The story of the Tuskegee Airmen, the first Af...",125,Drama|Action|Adventure|History|War,Twentieth Century Fox Film Corporation|Lucasfi...,1/19/2012,6.1,2012
964,tt0278295,14000000,25482931,All About the Benjamins,Ice Cube|Mike Epps|Tommy Flanagan|Carmen Chapl...,Kevin Bray,Money can make people do funny things.,Bucum Jackson (Cube) is a bounty hunter with a...,95,Action|Adventure|Comedy,New Line Cinema,3/8/2002,6.4,2002
377,tt0892769,165000000,494878759,How to Train Your Dragon,Jay Baruchel|Gerard Butler|Craig Ferguson|Amer...,Dean DeBlois|Chris Sanders,One adventure will change two worlds,As the son of a Viking leader on the cusp of m...,98,Fantasy|Adventure|Animation|Family,DreamWorks Animation|Vertigo Entertainment|Mad...,3/5/2010,7.4,2010

In [36]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [37]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
data['profit'] = data['revenue'] - data['budget']

def explode_by_column(df, column_name, pat):
    df_res = df.copy()
    df_res[column_name] = df[column_name].str.split(pat)
    return df_res.explode(column_name)

#the time given in the dataset is in string format.
#So we need to change this in datetime format
data['release_date'] = pd.to_datetime(data['release_date'])
data['release_month'] = data.release_date.dt.month
#data['release_month'] = data.release_date.month_name

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [160]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '1. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [39]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011,641683000,5

ВАРИАНТ 2

In [40]:
# можно добавлять разные варианты решения
data.query('budget == budget.max()')

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011,641683000,5

# 2. Какой из фильмов самый длительный (в минутах)?

In [161]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'

In [41]:
data[data.runtime == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2003-02-21,5.8,2003,-43076064,2

# 3. Какой из фильмов самый короткий (в минутах)?

In [162]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

In [42]:
data[data.runtime == data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,2011-04-13,6.8,2011,-15540000,4

# 4. Какова средняя длительность фильмов?

In [163]:
answers['4'] = '4. 110'

In [46]:
data.describe()['runtime']['mean']

109.6585494970884

In [47]:
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [164]:
answers['5'] = '5. 107'

In [49]:
data.describe()['runtime']['50%']

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [51]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data[data.profit == data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,2009-12-10,7.1,2009,2544505847,12

In [165]:
answers['6'] = '6. Avatar (tt0499549)'

# 7. Какой фильм самый убыточный?

In [53]:
data[data.profit == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090,7

In [166]:
answers['7'] = '7. The Lone Ranger (tt1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [55]:
len(data[data.revenue > data.budget])

1478

In [167]:
answers['8'] = '8. 1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [59]:
data[data.release_year == 2008].query('revenue == revenue.max()')

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008,816921825,7

In [168]:
answers['9'] = '9. The Dark Knight (tt0468569)'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [60]:
df = data[(data.release_year > 2011) & (data.release_year < 2015)]
df[df.profit == df.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090,7

In [169]:
answers['10'] = '10. The Lone Ranger (tt1210819)'

# 11. Какого жанра фильмов больше всего?

In [62]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

df = pd.DataFrame(data['genres'].apply(lambda x: x.split('|'))).explode('genres')
df.genres.value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

In [170]:
answers['11'] = '11. Drama'

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [71]:
df = data.copy()
df['genres'] = df['genres'].str.split('|')
df1 = df.explode('genres')
df1.groupby(by = 'genres')['profit'].agg('count').sort_values(ascending=False).index[0]

'Drama'

In [69]:
df = explode_by_column(data[data.profit > 0], 'genres', '|')
df['genres'].value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genres, dtype: int64

In [171]:
answers['12'] = '12. Drama'

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [73]:
df = explode_by_column(data, 'director', '|')
df.groupby(by = 'director')['profit'].agg('sum').sort_values(ascending=False).index[0]

'Peter Jackson'

In [172]:
answers['13'] = '13. Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [80]:
df = explode_by_column(data, 'director', '|')
df[df['genres'].str.contains('Action',na=False)].groupby(by = 'director')['imdb_id'].agg('count').sort_values(ascending=False).index[0]

'Robert Rodriguez'

In [173]:
answers['14'] = '14. Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [86]:
df = explode_by_column(data[data.release_year == 2012], 'cast', '|')
df.groupby(by = 'cast')['revenue'].agg('sum').sort_values(ascending=False).index[0]

'Chris Hemsworth'

In [174]:
answers['15'] = '15. Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [87]:
df = explode_by_column(data[data.budget > data.budget.mean()], 'cast', '|')
df.groupby(by = 'cast')['imdb_id'].agg('count').sort_values(ascending=False).index[0]

'Matt Damon'

In [175]:
answers['16'] = '16. Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [88]:
df = explode_by_column(data[data['cast'].str.contains('Nicolas Cage',na=False)], 'genres', '|')
df['genres'].value_counts()

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Animation           3
Family              3
Mystery             3
History             2
Romance             1
Horror              1
War                 1
Name: genres, dtype: int64

In [176]:
answers['17'] = '17. Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [92]:
data[data.production_companies.str.contains('Paramount Pictures',na=False)].query('profit == profit.min()')

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,2002-07-19,6.0,2002,-64831034,7

In [177]:
answers['18'] = '18. K-19: The Widowmaker (tt0267626)'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [94]:
data.groupby(by = 'release_year').revenue.agg('sum').sort_values(ascending=False).index[0]

2015

In [178]:
answers['19'] = '19. 2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [96]:
data[data.production_companies.str.contains('Warner Bros',na=False)].groupby(by = 'release_year').profit.agg('sum').sort_values(ascending=False).index[0]

2014

In [179]:
answers['20'] = '20. 2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [98]:
data.groupby(by = 'release_month').imdb_id.agg('count').sort_values(ascending=False).index[0]

9

In [180]:
answers['21'] = '21. Сентябрь'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [100]:
len(data.query('release_month in [6,7,8]'))

450

In [181]:
answers['22'] = '22. 450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [102]:
df = explode_by_column(data.query('release_month in [1,2,12]'), 'director', '|')
df.director.value_counts().index[0]

'Peter Jackson'

In [182]:
answers['23'] = '23. Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [194]:
df = explode_by_column(data, 'production_companies', '|')
df['lenght_original_title'] = df.original_title.map(lambda x: len(x))
#df[df.lenght_original_title > df.lenght_original_title.mean()].production_companies.value_counts()#.index[0]
df.groupby(by = 'production_companies')['lenght_original_title'].agg('mean').sort_values(ascending=False).index[0]

'Four By Two Productions'

In [195]:
answers['24'] = '24. Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [197]:
df = explode_by_column(data, 'production_companies', '|')
df['overview_word_count'] = df.overview.map(lambda x: len(x.split(' ')))
#df[df.overview_word_count > df.overview_word_count.mean()].production_companies.value_counts().index[0]
df.groupby(by = 'production_companies')['overview_word_count'].agg('mean').sort_values(ascending=False).index[0]

'Midnight Picture Show'

In [198]:
answers['25'] = '25. Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [120]:
df = data.sort_values(by=['vote_average'], ascending=False)
one_percent = round(len(df)/100)
df.head(one_percent)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008,816921825,7
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,2014-11-05,8.0,2014,456752480,11
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,2014-11-14,8.0,2014,219555708,11
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,2015-06-09,8.0,2015,678708609,6
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,2015-10-16,8.0,2015,29401758,10
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,2013-12-25,7.9,2013,292000694,12
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,2014-10-01,7.9,2014,308330363,10
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,2013-10-18,7.9,2013,167000000,10
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,2014-07-30,7.9,2014,603312399,7
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,2003-12-01,7.9,2003,1024888979,12
1800,tt0209144,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,2000-10-11,7.9,2000,30723096,10
370,tt1375666,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,2010-07-14,7.9,2010,665500000,7
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,2002-09-24,7.9,2002,85072577,9
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2014-02-26,7.9,2014,144600318,2
1188,tt1798709,23000000,47351251,Her,Joaquin Phoenix|Scarlett Johansson|Rooney Mara...,Spike Jonze,A Spike Jonze Love Story,"In the not so distant future, Theodore, a lone...",126,Romance|Science Fiction|Drama,Annapurna Pictures,2013-12-18,7.8,2013,24351251,12
28,tt1895587,20000000,88346473,Spotlight,Mark Ruffalo|Michael Keaton|Rachel McAdams|Lie...,Tom McCarthy,Break the story. Break the silence.,The true story of how The Boston Globe uncover...,128,Drama|Thriller|History,Participant Media|Open Road Films|Anonymous Co...,2015-11-06,7.8,2015,68346473,11
124,tt2245084,165000000,652105443,Big Hero 6,Scott Adsit|Ryan Potter|Daniel Henney|T.J. Mil...,Don Hall|Chris Williams,From the creators of Wreck-it Ralph and Frozen,The special bond that develops between plus-si...,102,Adventure|Family|Animation|Action|Comedy,Walt Disney Pictures|Walt Disney Animation Stu...,2014-10-24,7.8,2014,487105443,10
177,tt2582846,12000000,305151265,The Fault in Our Stars,Shailene Woodley|Ansel Elgort|Nat Wolff|Laura ...,Josh Boone,One Sick Love Story,Despite the tumor-shrinking medical miracle th...,125,Romance|Drama,Fox 2000 Pictures|Temple Hill Entertainment|TS...,2014-05-16,7.8,2014,293151265,5
863,tt0167261,79000000,926287400,The Lord of the Rings: The Two Towers,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,A New Power Is Rising.,Frodo and Sam are trekking to Mordor to destro...,179,Adventure|Fantasy|Action,WingNut Films|New Line Cinema|The Saul Zaentz ...,2002-12-18,7.8,2002,847287400,12

In [185]:
answers['26'] = '26. Inside Out, The Dark Knight, 12 Years a Slave'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

In [122]:
import itertools
df = data.copy()
s = df['cast'].map(lambda x: list(map(" & ".join, itertools.combinations(sorted(x.split('|')),2))))
s.explode().value_counts()

Daniel Radcliffe & Rupert Grint       8
Daniel Radcliffe & Emma Watson        8
Emma Watson & Rupert Grint            8
Ben Stiller & Owen Wilson             6
Helena Bonham Carter & Johnny Depp    6
                                     ..
Cam Gigandet & Gary Oldman            1
David A.R. White & Dean Cain          1
Joe Morton & Ron Rifkin               1
Ahney Her & Bee Vang                  1
Lennie James & Michael Vartan         1
Name: cast, Length: 17943, dtype: int64

In [186]:
answers['27'] = '27. Daniel Radcliffe & Rupert Grint'

# Submission

In [199]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '1. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '4. 110',
 '5': '5. 107',
 '6': '6. Avatar (tt0499549)',
 '7': '7. The Lone Ranger (tt1210819)',
 '8': '8. 1478',
 '9': '9. The Dark Knight (tt0468569)',
 '10': '10. The Lone Ranger (tt1210819)',
 '11': '11. Drama',
 '12': '12. Drama',
 '13': '13. Peter Jackson',
 '14': '14. Robert Rodriguez',
 '15': '15. Chris Hemsworth',
 '16': '16. Matt Damon',
 '17': '17. Action',
 '18': '18. K-19: The Widowmaker (tt0267626)',
 '19': '19. 2015',
 '20': '20. 2014',
 '21': '21. Сентябрь',
 '22': '22. 450',
 '23': '23. Peter Jackson',
 '24': '24. Four By Two Productions',
 '25': '25. Midnight Picture Show',
 '26': '26. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '27. Daniel Radcliffe & Rupert Grint'}

In [188]:
# и убедиться что ни чего не пропустил)
len(answers)

27